/*
body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

*/


body{
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #add8e6;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box-form{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 60vw;
	background-color: #FFFFFF;
	border-radus: 10px;
	-webkit-border-radus: 10px;
	-ms-border-radus: 10px;
	-moz-border-radus: 10px;
}